.header {
  width: 50%;
  text-align: center;
  margin-top: 20px;
  border-bottom: solid 2px rgba(200, 200, 200, 0.3);
}

.header .profilePicture img {
  border-radius: 50px;
  width: 100px;
}

.header .toggleIcon {
  width: 18px;
}

.header h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  color: #333333;
  font-family: "Karla", sans-serif;
  letter-spacing: -3px;
}

:global .app--dark :local(.header h1) {
  color: white;
}

.header .social {
  font-size: 100%;
  display: flex;
  align-items: center;
}

.header .social a {
  display: inline-block;
  line-height: 1;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #333;
  will-change: background-color;
  transition-property: color;
  transition-duration: 300ms;
  position: relative;
  text-align: left;
  font-weight: 700;
}

.header .social a .github {
  width: 32px;
  height: 32px;
}

.twitter {
  width: 48px;
  height: 48px;
}

:global .app--dark :local(.header .social a) {
  color: white;
}

.header .social a:not(:last-child) {
  margin: 0 15px;
}

.header .social a:hover,
.header .social a:active,
.header .social a.active {
  color: #ffc107;
}

.header .menu {
  display: flex;
  justify-content: space-between;
}

.header .personal {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}

.header .topHeader {
  display: flex;
  justify-content: space-between;
}

.header .collapse {
  display: none;
}

.header .personal h4 {
  margin: 0 3px;
  font-weight: 400;
  text-align: left;
}

:global .app--dark :local(.header .personal h4) {
  color: white;
}

:global .react-toggle .react-toggle-thumb,
:global .react-toggle.react-toggle--checked .react-toggle-thumb {
  border-color: black;
}

:global .react-toggle-track > div {
  margin: 2px 0px;
}

:global .language.react-toggle .react-toggle-track {
  background-image: url(/assets/br-flag.jpg);
  background-size: cover;
  background-position: center;
  transition: none;
}

:global .language.react-toggle--checked .react-toggle-track {
  background-image: url(/assets/uk-flag.png);
  background-size: cover;
  background-position: center;
}

:global .theme.react-toggle .react-toggle-track,
:global .theme.react-toggle .react-toggle-track:hover {
  background-color: #333 !important;
}

:global .theme.react-toggle--checked .react-toggle-track,
:global .theme.react-toggle--checked .react-toggle-track:hover {
  background-color: rgb(27, 159, 211) !important;
}

:global .theme.react-toggle--checked .react-toggle-track-check {
  left: 4px;
  top: 1px;
}

@media only screen and (max-width: 728px) {
  .header {
    position: relative;
    border-bottom-width: 1px;
    height: 204px;
    will-change: height;
    transition: height 0.6s ease-in-out, width 0.3s ease-in;
  }

  .header .menu {
    will-change: margin-top;
    transition: margin-top 0.6s ease-in-out;
  }

  .header.collapsed .menu {
    will-change: margin-top;
    transition: margin-top 0.6s ease-in-out;
  }

  .header .topHeader {
    display: inherit;
    transition: all 1s ease-in-out;
    text-align: left;
  }

  .header .personal h1 {
    transition: font-size 0.6s;
  }

  .header .profilePicture img {
    will-change: width;
    transition: width 1.2s ease-in-out, left 1s ease-in-out;
    position: relative;
    left: calc(50% - 50px);
  }

  .header.collapsed {
    will-change: height;
    transition: height 0.6s ease-in-out, width 0.3s ease-in;
  }

  .header.collapsed .profilePicture img {
    will-change: width;
    transition: width 0.6s ease-out, left 0.4s ease-in-out;
  }

  .header .personal h4 {
    will-change: opacity;
    opacity: 1;
    transition: opacity 0.4s;
  }

  .header .collapse {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    position: absolute;
    cursor: pointer;
    right: 20px;
    bottom: 20px;
    transform: rotate(-135deg);
  }

  .header:not(.collapsed) .collapse {
    -webkit-animation: bounce 2s;
    animation: bounce 2s;
    transition: all 0.3s;
  }

  :global .app--dark :local(.header .collapse) {
    border: solid white;
    border-width: 0 3px 3px 0;
  }

  .header .social {
    display: none;
  }

  .header .personal {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .header .languageToggle,
  .header .themeToggle {
    display: none;
  }

  .header.collapsed {
    width: 100%;
    height: 60px;
  }

  .header.collapsed .profilePicture img {
    width: 48px;
    margin-left: 10px;
    left: 10px;
  }

  .header.collapsed .personal h4 {
    opacity: 0;
  }

  .header.collapsed .personal h1 {
    font-size: 28px;
  }

  .header.collapsed .menu {
    font-size: 16px;
    margin-top: -70px;
  }

  .header.collapsed .collapse {
    transform: rotate(45deg);
    bottom: 30px;
  }

  .header.collapsed.ignoreTransitions .menu {
    transition: none;
  }

  .header.ignoreTransitions .personal h4 {
    transition: none;
  }

  .header.ignoreTransitions .personal h1 {
    transition: none;
  }
}

@-webkit-keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0) rotate(-135deg);
    transform: translateY(0) rotate(-135deg);
  }
  40% {
    -webkit-transform: translateY(-20px) rotate(-135deg);
    transform: translateY(-20px) rotate(-135deg);
  }
  60% {
    -webkit-transform: translateY(-12px) rotate(-135deg);
    transform: translateY(-12px) rotate(-135deg);
  }
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0) rotate(-135deg);
    transform: translateY(0) rotate(-135deg);
  }
  40% {
    -webkit-transform: translateY(-20px) rotate(-135deg);
    transform: translateY(-20px) rotate(-135deg);
  }
  60% {
    -webkit-transform: translateY(-12px) rotate(-135deg);
    transform: translateY(-12px) rotate(-135deg);
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    width: 90%;
  }
}