:global .app--dark {
  background-color: #333;
}

:global .app--dark .react-toggle .react-toggle-track {
  border: solid 1px #c0c0c0;
}

.main {
  flex: 1;
  width: 50%;
  overflow: auto;
}

@media only screen and (max-width: 1024px) {
  .main {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    overflow: auto;
  }
}
